
/*la propiedad relative permite que la card haga desplazamiento hacia arriba cuando se usa el hover*/

@keyframes beat {
    0% {
        color: #444;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    20% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    60% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #d1410c;
    }
}

.container_card {    
    position: relative;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 100%;    
    flex-direction: column;
    text-align: center;
    pointer-events: auto;
    transition: .2s all ease-in-out;
    box-shadow: 0px 2px 14px 0 rgba(35, 31, 32, .1);
    cursor: pointer;
    user-select: none;
}

.container_card_premium {
    position: relative;
    bottom: 0px;
    display: flex;
    width: 90%;
    height: 320px;  
    flex-direction: column;
    text-align: center;
    pointer-events: auto;
    transition: .2s all ease-in-out;
    box-shadow: 0px 2px 14px 0 rgba(35, 31, 32, .1);
    cursor: pointer;
    user-select: none;
    border: solid 1px var(--primary-color);
}

.width {
    width: 100%;
    height: 100%;
}

.imgWrapper {
    height: 180px;
    width: 100%;
    border: #0002 1px solid;
}

.imgWrapper img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.favEnabled {
    animation: beat 400ms ease 0s 1 normal forwards running;
    /* transition: all .4s cubic-bezier(.4,0,.3,1);
    color: red; */
}

.favorite {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: #0002 1px solid;
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.classic {
    position: relative;
    left: 0;
    width: min-content;
}


.favorite_premium {
    background-color: var(--primary-color);
    color: var(--white-text);
}


.loadingRing{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 44px;
    height: 44px;
}

.loadingRing:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--bg-elevation);
    border-color: #0007  transparent #0007  transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  


.container_details {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-elevation);
    padding: 10% 5% 5%;
}

.container_details_classic {
    padding-top: 6%;
}

.container_details_Cpremium {
    padding-top: 3%;
    padding-bottom: 2%;
}

.details_title{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 1rem;
    margin: auto;
    color: var(--dark-text);
    text-align: left;
}

.details_date{
    display: block;
    color: var(--secondary-color);
    margin: auto;
    margin-top: 4px;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

.details_free,
.details_price{
    display: block;
    color: var(--dark-text);
    margin: auto;
    margin-top: 8px;
    text-align: left;
    font-size: 1.15rem;
    font-weight: 500;
}

.details_price::before {
    content: '$';
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 1.5px;
    bottom: 1.5px;
}

.details_category{
    position: absolute;
    font-family: 'Lato';
    font-weight: 500;
    background-color: #fffa;
    padding: 4px 10px;
    border-radius: 0 8px 8px 0;
    left: 0;
    top: 8px;
    color: var(--dark-text);
    font-size: 0.85rem

}

.details_category_premium {
    position: absolute;
    font-family: 'Lato';
    font-weight: 500;
    background-color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 0 8px 8px 0;
    left: 0;
    top: 8px;
    color: var(--white-text);
    font-size: 0.85rem
}

.details_category_premium_buttom {
    position: absolute;
    font-family: 'Lato';
    font-weight: 500;
    background-color: rgba(255,255,255,0);
    padding: 4px 10px;
    border-radius: 0 8px 8px 0;
    left: 0;
    top: 8px;
    color: var(--dark-text);
    font-size: 0.85rem
}

.btnMore{
    margin-top: 8%;
    background-color: aqua;
}

.container_card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 20px 0px rgba(35, 31, 32, .15);
    transition: .2s all ease-in-out;
}

.container_card_premium:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 20px 0px rgba(35, 31, 32, .15);
    transition: .2s all ease-in-out;
}






