
/*la propiedad relative permite que la card haga desplazamiento hacia arriba cuando se usa el hover*/

.container_card {    
    position: relative;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 100%;    
    flex-direction: column;
    text-align: center;
    pointer-events: auto;
    transition: .2s all ease-in-out;
    box-shadow: 0px 2px 14px 0 rgba(35, 31, 32, .1);
}

.container_card img {
    width: 100%;
    height: 180px;
    object-fit: cover;


}

.container_details {
    width: 100%;
    height: 110px;
    background-color: white;
}

.details_title{
    font-family: 'Lato';
    font-size: 130%;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    color: #000c;
    text-align: left;
}
.details_date{
    display: block;
    color: var(--secondary-color);
    margin: auto;
    width: 90%;
    margin-top: 4px;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

.details_price{
    display: block;
    color: #000a;
    margin: auto;
    width: 90%;
    margin-top: 8px;
    text-align: left;
    font-size: 1.15rem;
    font-weight: 500;
}

.details_price::before {
    content: '$';
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 1.5px;
    bottom: 1.5px;
}

.details_category{
    position: absolute;
    font-family: 'Lato';
    font-weight: 500;
    background-color: #fffa;
    padding: 4px 10px;
    border-radius: 0 8px 8px 0;
    left: 0;
    top: 8px;
    color: #000c;
    font-size: 0.85rem

}

.btnMore{
    margin-top: 8%;
    background-color: aqua;
}

.container_card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 20px 0px rgba(35, 31, 32, .15);
    transition: .2s all ease-in-out;
} 
