
:root {
  --primary-color: #007F80;
  --accent-color: #005D5E;
  --secondary-color: #BC4001;
  
  --ligth-background-color: #F5FaF5;
  --white-text: #FDF7F4;

  --dark-background-color: #121318;
  --dark-text: #121318;

}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-text);
  overflow-x: hidden;
  padding-top: 54px;
  overflow-y: overlay;
}
html{
  min-height: 100%;
  position: relative;
  background-color: var(  --ligth-background-color);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btnprimario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 1.3vw;
  font-weight: 500;
  border: none;
  color: var(--white-text);
  cursor: pointer;
  margin: 0 auto;
  height: 50px;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #DF8354 0%, #D76D37 40%, #BC4000 100%);
  transition: all .4s ease-in-out;
}

.btnprimario:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 65%);
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

html {
  min-height: 100%;
  position: relative;
  background-color: var(--ligth-background-color);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#COMPLETED{
  padding: 10px;
  color: white;
  background-color: var(--accent-color);
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  font-size: 1vw;
}

#PENDING{
  padding: 10px;
  color: white;
  background-color: var( --secondary-color);
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  font-size: 1vw;
}

#CANCELED{
  padding: 10px;
  color: white;
  background-color: #ff5733;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  font-size: 1vw;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent
}

*::-webkit-scrollbar-thumb {
  opacity: 0;
  background-color: #0003;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  opacity: 0;
  background-color: #0006;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:active {
  opacity: 0;
  background-color: #0008;
  border-radius: 20px;
}

@media screen and (max-width: 605px) {

  *::-webkit-scrollbar-track {
    background: var(--color-background);
  }
  
  *::-webkit-scrollbar-thumb {

    border: 3px solid var(--color-background);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    border: 3px solid var(--color-background);
  }
  
  *::-webkit-scrollbar-thumb:active {
    border: 2px solid var(--color-background);
  }
  

}