files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_run_npm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe
      cd /var/app/current/api
      npm install --production

commands:
  npm_install:
    command: "sh /opt/elasticbeanstalk/hooks/appdeploy/post/99_run_npm_install.sh"
