.background {
    position: relative;
    background-color: var(--ligth-background-color);
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin-bottom: 80px;
}

hr {
    color: var(--dark-text);
}

.body {
    position: relative;
    top: 40px;
    max-width: 1280px;
    height: 50%;
    width: 95%;
    margin: 0 auto;
    border: solid 1px var(--primary-color);
    border-radius: 15px;
    background-color: var(--bg-elevation);
}

.containerimg {
    position: static;
    text-align: center;
    width: 100%;
    max-height: 445px;
    height: 60vh;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #007F8020;
}

.containerimg img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-width: 100%;
    height: 100%;
}

.container_title_and_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    height: max-content;
    margin-left: 35px;
}

.container_title_and_description h1 {
    margin-top: 20px;
    font-size: 4.2vw;
    font-weight: 400;
    color: var(--dark-text);
}

.containerdescription {
    width: 100%;
    height: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.containerdescription p {
    font-size: 1.5vw;
    margin-bottom: 50px;
    color: var(--dark-text);
}

.containerdescription a {
    margin-left: 10px;
}

.containerdescription a:hover {
    color: var(--accent-color);
}

.containerdescription textarea {
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    height: 20vh;
    width: 100%;
    background-color: var(--bg-elevation);
    color: var(--dark-text);
}

textarea:focus {
    outline: 2px var(--primary-color);
}

.textdescription_error {
    color: red;
}

.textarea_border {
    border: solid 2px var(--primary-color);
    border-radius: 12px;
}

.textarea_error {
    border: solid 2px red;
    border-radius: 12px;
}

.organizerdiv {
    width: 100%;
}

.organizerdiv p {
    color: red;
    margin-left: 5px;
}

.organizerinput {
    margin-top: 3px;
    border: solid 2px var(--primary-color);
    border-radius: 12px;
    display: inline;
    height: max-content;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4.2vw;
    background-color: var(--bg-elevation);
    color: var(--dark-text);
}

.organizerinput_error {
    margin-top: 3px;
    border: solid 2px red;
    border-radius: 12px;
    display: inline;
    height: max-content;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4.2vw;
    background-color: var(--bg-elevation);
}

h1 a:hover {
    color: var(--accent-color);
}

.container_date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 50px;
    width: 63%;
    color: var(--dark-text);
}

.date_text {
    margin-top: 6px;
    margin-left: 52px;
    font-size: 1.5rem;
    font-weight: 400;
    width: max-content;
    color: var(--secondary-color);
}

.container_date hr {
    margin-left: 55px;
}

.containericon {
    display: flex;
    align-items: center;
}

.organizericon {
    cursor: pointer;
    width: min-content;
    color: var(--secondary-color);
    margin-top: 5px;
}

.organizericon:hover {
    color: #ab2a3e;
}

.iconspan {
    color: var(--secondary-color);
    background-color: var(--background-icon);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 50%;
}

.iconspan_premium {
    color: var(--primary-color);
    background-color: var(--background-icon);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 50%;
}

.iconspantext {
    display: block;
    margin-left: 10px;
    width: max-content;
    font-size: 2vw;
    font-weight: 400;
}

.category_and_age {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    margin-top: 20px;
    margin-left: 35px;
}

.favorite {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: #0002 1px solid;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(---secondary-color);
}

.favEnabled {
    color: var(--secondary-color);
}

.aboutevent {
    margin-top: 5px;
    margin-bottom: 50px;
    padding-left: 55px;
    width: 100%;
    height: max-content;
    border-radius: 12px;
    background-color: var(--bg-elevation);
    font-size: 1.3vw;
    font-weight: 400;
}

.url {
    margin-top: 5px;
    padding-left: 55px;
    width: 100%;
    font-size: 1.3vw;
    font-weight: 400;
}

.spinner {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    transform: scale(100%);
}

.spinner div {
    position: absolute;
    top: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007F80;
    opacity: .9;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-child(1) {
    left: 8px;
    animation: spinner1 0.6s infinite;
}

.spinner div:nth-child(2) {
    left: 8px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(3) {
    left: 32px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(4) {
    left: 56px;
    animation: spinner3 0.6s infinite;
}

@keyframes spinner1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes spinner2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.containerEventPrivate {
    width: 100%;
    height: 50vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.containerInfoEventPrivate {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: flex-start;
}

.containerInfoEventPrivate>p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 10px;
}

.containerInfoEventPrivate>h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 4rem;
}

.containerPass {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    flex-direction: row;
    border-top: 2px solid #00000038;
    margin-top: 2%;
    padding: 5% 0;
}

.pass {
    width: 65%;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid var(--dark-text);
}

.btnSubmit {
    width: 150px;
    height: 42px;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 8%;
}

.btnSubmit:hover {
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 42px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.btnBack {
    width: 100%;
    margin-top: 5%;
}