.customButton {
    width: 150px;
    height: 42px;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.5;
}
  
.active{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 42px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
  
.groupcont {
    margin: 12px 0 24px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
}