.background {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 70%;
    max-width: 100%;
    width: 75%;
    height: max-content;
    margin-top: 50px;
    margin-left: 85px;
    margin-bottom: 50px;
}

.containercategory {
    border-radius: 12px;
    background-color: var(--secondary-color);
    width: max-content;
    margin-right: 50px;
}

.containercategory span {
    color: var(--white-text);
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.containericon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.iconspan {
    color: var(--secondary-color);
    background-color: #cccccc40;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius: 50%;
    width: min-content;
}

.iconspan_premium {
    color: #FFD700;
    background-color: black;
}

.iconspantext {
    display: block;
    width: min-content;
    font-size: 1.1vw;
    font-weight: 400;
    margin-left: 1vw;
}