.info{
    width: 80%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
    color: var(--dark-text);
}

.inputs{
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    border: solid 1px var(--border-color);
    background-color: var(--ligth-background-color);
    border-radius: 5px;
    color: var(--dark-text);
}

.warning {
    color:red;
    font-size: 0.8rem;
}

.datetime{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:15px;
    justify-content: space-between;
}

input[type="time"]::-webkit-calendar-picker-indicator{
    filter:var(--dark-text);
  }