.info{
    width: 80%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
}

.inputs{
    width: 20%;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.warning {
    color:red;
    font-size: 0.8rem;
}

.datetime{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:15px;
    justify-content: space-between;
}