.info{
    width: 70%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
}

.inputs{
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.warning {
    color:red;
    font-size: 0.8rem;
}