.containerBuyTickets{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.topWrapper {
    width: 100%;
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.bottomWrapper {
    width: 100%;
    height: auto;
}

.formWrapper {
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.detailWrapper {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
}

.imgWrapper {
    width: 100%;
    height: 220px;
}

.detailEvent_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.formWrapper header{
    width: 100%;
    height: auto

}

.formWrapper main {
    height: max-content;   
    overflow-y: auto;
    width: 100%;
    flex-grow: 1;

}




.container_dataTicket {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dataTicket_title {
    font-size: 26px;
    text-align: center;
}

.dataTicket_subTitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
}

.dataTicket_user {
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.dataTicket_user>span {
    color: var(--primary-color);
    margin-left: 0.5%;
}

.firstRow {
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input_name,
.input_lastName,
.input_email {
    padding-left: 4px;
    height: 40px;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    background-color: var(--ligth-background-color);
    border: 1px solid #b4b4b4;
}


.modify>button {
    font-size: 19px;
}

.btnPedido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size: 1.3vw;
    font-weight: 500;
    border: none;
    color: var(--white-text);
    cursor: pointer;
    margin: 0 auto;
    height: 50px;
    background-size: 300% 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #DF8354 0%, #D76D37 40%, #BC4000 100%);
}
 

.detail {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 22px;
}

.detailEvent_resume {
    font-size: 14px;
}


.detailEvent_subTotal {
    font-weight: 700;
}



.detailEvent_price {
    font-weight: 700;
    font-size: 30px;

}

/* .detailBankAccount{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    background-color: var(--primary-color);
    color: var(--white-text);
} */
/*
.detailBankAccount_CBU_name{
    font-weight: 300;
    font-size: 18px;
}

.container_voucer{
    width: 100%;
    height: 100%;
   
} */
