.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #1f58d5;
    border-radius: 50%;
    margin-right: 1rem; 
  }
  
  .icon {   
    color: #fff;
    font-size: 2rem;
  }
  
  .messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  .message {
    font-size: 1rem;
    color: #000;
  }
  
  .message>span {
    font-weight: 800;
  }