.mainFooter {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 120px;
    background-color: var(--dark-background-color);
    color: var(--white-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
  }
  

  .mainFooter a {
    color: var(--white-text);
    text-decoration: none;
    margin-right: 10px;
  }
  

  .mainFooter a:hover {
    color: var(--secondary-color);
  }
  

  .mainFooter i {
    color: var(--white-text);
    margin-right: 10px;
  }
  

  .mainFooter i:hover {
    color: var(--secondary-color);
  }


  .Titulo {
    font-weight: 300;
    font-size: 30px;
    color: var(--primary-color);
    position: relative;
    left: 10px;
  }


  .MenuItem {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: all 1s ease;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
  }
  

  .MenuItem * {
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: max-content;
  }
  

  .MenuItem a:hover {
    text-decoration: none;
    color:   var( --secondary-color);
  }



  @media (max-width: 600px) {
    .mainFooter {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .mainFooter p, .mainFooter div {
      width: 100%;
      text-align: center;
    }
  }