.cartContainer {
    width: 90%;
    margin-top: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: var(--primary-color);
  }
  
  .image{
    width: 20vw;
    height: max-content;
  }

  @media (max-width: 748px) {
    .cart-container {
      width: 100%;
    }
  }