.container {
  width: 5%;
  position: absolute;
  z-index: 20;
  right: 90%;
}

.button {
  top: 70px;
  position: fixed;
  width: 10%;
  height: 40px;
  letter-spacing: 0.5px;
  color: var(--primary-color);
  font-size: 1rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--primary-color);
  color: white;
  letter-spacing: 0.5px;
  font-size: 1rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}