.info{
    width: 80%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
    color:var(--dark-text);
}

.overview{
    outline: none;
    height: 150px;
}

.select{
    margin: 10px;
    width: 170px;
    border-radius: 5px;
    height: 25px;
}

.inputs{
    background-color: var(--bg-elevation);
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
    color:var(--dark-text);
}

.warning {
    color:red;
    font-size: 0.8rem;
}