.info{
    width: 70%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
}

.overview{
    outline: none;
    height: 150px;
}