.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
}

.checkbox{
    display: flex;
    align-items: center;
    width: 120px;
}

.iconspan {
    color: var(--primary-color);
    margin: 5px;
    width: min-content;

}