.containerhero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerform {
    width: 30vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_input {
  margin-top: 10px;
  margin-bottom: 26px;
  margin-left: 5px;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: solid 2px var(--white-text);
  color: var(--white-text);
}
.container_input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 70px;
  line-height: 53px;
  color: var(--accent-color);
  margin-bottom: 3vh;
}

.subTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 200%;
  line-height: 53px;
  color: var(--white-text);
  width: 30vw;
}

.btn{
  background-color: transparent;
  color: var(--accent-color);
  border: 0;
  cursor: pointer;
  font-size: 20px;
}
.btn2{
    width: 90%;
    height: 4vh;
    border-radius: 5px;
}
.containerhero {
  background: url("../../Assets/desenfoqueImage1.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  align-items: flex-end;
}
.containerItems{
    display: flex;
    flex-direction: column;
        width: 41vw;
        align-items: center;
}

#btnLogin{
  margin-top: 1vw;
  margin-bottom: 3vw;
}