.containerlocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 50px;
    margin-left: 35px;
    width: min-content;
}

.containerlocation b {
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.containericon {
    display: flex;
    align-items: center;
}

.iconspan {
    color: var(--secondary-color);
    background-color: #cccccc40;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    border-radius: 50%;
}

.iconspantext {
    display: block;
    margin-left: 8px;
    width: max-content;
    font-size: 2vw;
    font-weight: 400;
}

.ubicationtext {
    margin-left: 50px;
    font-size: 1.1vw;
}

.containermap {
    border: solid 1px var(--primary-color);
    height: min-content;
    margin-top: 5px;
    margin-left: 50px;
}