.containerlocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15vh;
    width: max-content;
}

.containerlocation b {
    margin-bottom: 5px;
}

.containericon {
    display: flex;
    align-items: center;
}

.iconspan {
    color: var(--primary-color);
    width: min-content;
}

.iconspantext {
    display: block;
    margin-left: 15px;
    width: max-content;
    color: var(--primary-color);
    font-size: 2vw;
    font-weight: bold;
}

.ubicationtext {
    margin-left: 50px;
    font-size: 1.1vw;
}

.containermap {
    border: solid 1px var(--primary-color);
    height: min-content;
    margin-top: 5px;
    margin-left: 50px;
}