.info{
    width: 80%;
}

.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
    color: var(--dark-text);
}

.more{
    height: 150px;
}