.containerReceipt,
.containerOperation {
  display: flex;

  {eventDetail.category?.modality === "Virtual" && 
    <div className={style.container_date}>
      <div className={style.containericon}>
      <span className={eventDetail.typePack === 'PREMIUM' ? style.iconspan_premium : style.iconspan}>
        {" "}
        <AiOutlineLink size={35} />{" "}
      </span>
      <span className={style.iconspantext}>URL</span>
      </div>
      <p className={style.url}>{`Once you purchase your ticket we'll send you the link to your email.`}</p>
    </div>
  }

<div className={style.container_date}>
    <div className={style.containericon}>
      <span className={eventDetail.typePack === 'PREMIUM' ? style.iconspan_premium : style.iconspan}>
        {" "}
        <RiTicket2Fill size={35} />{" "}
      </span>
      <span className={style.iconspantext}>About the event</span>
    </div>
    <div className={style.aboutevent} dangerouslySetInnerHTML={{ __html: eventDetail.large_description
      ? eventDetail.large_description.replace(/\n/g, '<br>')
      : eventDetail.description
  }}></div>
  <hr></hr>
</div>


.receiptHeaderCancel>p,
.receiptHeader>p {
  color: var(--white-text);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 1%;
}

.icon {
  font-size: 3rem;
  color: var(--white-text);
}

.receiptBtns,
.operationBtns {
  display: flex;
  width: 100%;
}

.modifyNo {
  background: #b83c3c;
}

.modifyYes {
  background: #3cb87c;
}