.container_slider {
    margin-bottom: 10px;
    height: 350px;
}

.container_text{
    font-size: 1.7rem;
    color: var(--dark-text);
    background-color: var(--ligth-background-color);
    border-bottom: 2px solid var(--border-color);
    padding: 12px 0 12px 6px;
    position: sticky;
    top: 54px;
    z-index: 20;
    margin-bottom: 15px;
}

.container_card {
    margin-right: 200px;
}

.notFoundWrapper {
    margin-top: 40px;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.notFoundWrapper svg {
    color: var(--secondary-color);
}

.notFoundWrapper h4 {
    font-size: 2rem;
    font-family: 'Lato';
    margin: 8px 0;
    color: #000b;
}

.notFoundWrapper p {
    color: #000a;
    font-weight: 400;
}