.container_carusel{
    width:  100%;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 0 3%;
}

.container_text{
    font-size: 1.7rem;
    color: var(--dark-text);
    border-bottom: 2px solid #0003;
    padding: 12px 0 12px 6px;

    position: sticky;
    top: 60px;
    z-index: 20;
}

.container_resultFilter{
    padding-top: 16px;
    display: grid;
    margin-bottom: 24px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3.3rem;
}

.title_noReults{
    width: 83.33vw;
    text-align: center;
    color: var(--dark-text);
}

.container_inPerson,
.container_online{
    
}

.carusel_cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}