.container_carusel{
    width:  83.33vw;
    height: 68.18vh;
    margin: 0 auto;
    margin-bottom: 10%;
}

.container_text{
    font-size: 250%;
    color: var(--dark-text);
    border-bottom: 4px solid var(--accent-color);
}

.container_resultFilter{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 3.3rem;
    margin: 3rem 0px 2rem;
}

/* .carusel_cards{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
} */

.container_inPerson,
.container_online{
    margin-top: 5%;
}

.carusel_cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}