.container_carusel{
    width:  100%;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 0 3%;
}

.container_text{
    font-size: 1.7rem;
    color: var(--dark-text);
    border-bottom: 2px solid #0003;
    padding: 12px 0 12px 6px;
    position: sticky;
    top: 60px;
    z-index: 20;
}

.container_resultFilter{
    padding-top: 16px;
    display: grid;
    margin-bottom: 24px;
    width: 100%;
    grid-auto-rows: minmax(320px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 32px;
}

.title_noReults{
    width: 83.33vw;
    text-align: center;
    color: var(--dark-text);
}

.carusel_cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.notFoundWrapper {
    margin-top: 40px;
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.notFoundWrapper svg {
    color: var(--secondary-color);
}

.notFoundWrapper h4 {
    font-size: 2rem;
    font-family: 'Lato';
    margin: 8px 0;
    color: #000b;
}

.notFoundWrapper p {
    color: #000a;
    font-weight: 400;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(100%);
    margin-top: 40px;
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  
  .spinner div {
    position: absolute;
    top: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007F80;
    opacity: .9;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .spinner div:nth-child(1) {
    left: 8px;
    animation: spinner1 0.6s infinite;
  }
  
  .spinner div:nth-child(2) {
    left: 8px;
    animation: spinner2 0.6s infinite;
  }
  
  .spinner div:nth-child(3) {
    left: 32px;
    animation: spinner2 0.6s infinite;
  }
  
  .spinner div:nth-child(4) {
    left: 56px;
    animation: spinner3 0.6s infinite;
  }
  
  @keyframes spinner1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @keyframes spinner3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
  }
  
  @keyframes spinner2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
  }