.menuContainer {
  position: relative;
  width: 56px;
  height: 34px;
  padding-left: 22px;
  border-left: #fff2 1px solid;
}

.menu {
  cursor: pointer;
    position: absolute;
    top: 49px;
    right: -36px;
    height: 83.3vh;
    width: 300px;
    /* width: 50px;
    width: max-content;
    height: max-content; */
    box-shadow: 0 0px 3px var(--primary-color);
    /* border-radius: 5px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: var(--ligth-background-color);
 
}

.menuIcon {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
}

.containerPhoto{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-top: 3px solid #00000021;
}

.menuPhoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.containerInfoUser{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  gap: 10px;
}

.menuInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.menuName {
  font-weight: bold;
  font-size: 25px;
  margin-top: 8px;
}

.menuEmail {
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid #00000021;
}

.menuLinks {
  display: flex;
  justify-content: space-between;
}

.menuLink {
  text-decoration: none;
  color: var(--dark-text);
  padding: 0px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 5%;
}

.menuLinkLogOut{
  text-decoration: none;
  color: var(--dark-text);
  padding: 0px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 5%;
  background: none;
  border: none;
}

.menuLinkLogOut>p{
  margin-left: 5px;
  margin-left: 10px;
  font-size: 15px;
}



.menuLink:hover,
.menuLinkLogOut:hover {
  color: var(--white-text);
  background-color: var(--primary-color);
}

