.menuContainer {
  position: relative;
  width: 56px;
  height: 34px;
  padding-left: 22px;
  border-left: #fff2 1px solid;
}

.menu {
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 60px;
  width: max-content;
  height: max-content + 5px;
  box-shadow: 0 2px 4px var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--ligth-background-color) ;
 
}

.menuIcon {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
}

.menuPhoto {
  width: 120px;
  height: 120px;
  right: 0;
  top: 0;
  border-radius: 50%;
  position: fixed;
}

.menuInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.menuName {
  font-weight: bold;
  margin-right: 10px;
}

.menuEmail {
  font-size: 0.8rem;
  border-bottom:  3px solid var(--accent-color);
}

.menuLinks {
  display: flex;
  justify-content: space-between;
}

.menuLink {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.menuLink:hover {
  background-color: var(--primary-color);
}

