.ContenedorHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  background-color: var(--primary-color);
}

.ContenedorNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  position: relative;
  margin: 0 auto;
  padding: 0 2%;
}

.Titulo {
  color: white;
  display: flex;
  width: auto;
  flex-shrink: 1;
  align-items: center;
}

.Titulo img {
  height: 30px;
}

.searchbarOpen,
.searchbarClose {
  min-width: 360px;
  width: 25vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.divisor {
  border-right: #fff3 1px solid;
  width: 0;
  height: 36px;
  margin: 0 2px 0px 4px;
}

.location {
  display: flex;
  align-items: center;
  padding: 0 10px 0 14px;
  border-right: #fff3 1px solid;
  border-left: #fff3 1px solid;
  height: 36px;
  gap: 6px;
  font-family: 'Roboto';
  color: #fff;
  font-size: 0.9rem;
}


.bold {
  font-weight: 500;
}

.MenuItems {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 16px;
  margin-right: 10px;
}

.MenuLink {
  background-color: var(--secondary-color);
  padding: 0 12px;
  line-height: 40px;
  height: 40px;
  width: auto;
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  transition: background 300ms ease-in-out
}

.MenuLink:hover {
  background-color: #9F3200;
  transition: background 200ms ease-in-out
}

.locationBar {
  display: none;
}

.locationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 6px 0 10px;
  border-right: #fff3 1px solid;
  border-left: #fff3 1px solid;
  height: 36px;
}


@media screen and (max-width: 1024px) {

  .ContenedorNavbar {
    align-items: flex-start;
    padding: 0;
    height: 85px;
    margin: 10px auto;
  }

  .MenuItems {
    height: 40%;
  }


  .MenuLink {
    display: none;
  }

  .searchbarOpen {
    min-width: 360px;
    width: 25vw;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
  }


  .locationBar {
    display: flex;
    position: relative;
    justify-content: center;
    height: 36px;
    background-color: var(--ligth-background-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .locationWrapper {
    display: none;
  }
}