.ContenedorHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  background-color: var(--primary-color);
}

.ContenedorNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  margin: 0 auto;
  padding: 0 2%;
}

.Titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: white;
}

.searchbarOpen, .searchbarClose {
    min-width: 360px;
    width: 25vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.location {
  display: flex;
  align-items: center;
  padding: 0 10px 0 14px;
  border-right: #fff3 1px solid;
  border-left: #fff3 1px solid;
  height: 36px;
  gap: 6px;
  font-family: 'Roboto';
  color: #fff;
  font-size: 0.9rem;
}


.bold {
  font-weight: 500;
}

.MenuItems {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: 4px;
}

.MenuLink{
  background-color: var(--secondary-color);
  padding: 8px 12px;
  width: auto;
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: filter 300ms ease-in-out
}

.MenuLink:hover{
  filter: brightness(105%);
  transition: filter 200ms ease-in-out
}
