.searchBar {
    background-color: rgba(134, 134, 134, 0.219);
    height: 34px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    top: 80px;
    border-radius: 42px;
    padding: 0 14px 0 12px;
    transition: filter .3s ease-in-out;
    
}

.searchBar:hover {
    filter: brightness(98.5%);
    transition: filter 150ms ease-in-out;
}

.searchInput {
    flex-grow: 1;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.842);
    font-family: 'Roboto';
    font-size: 0.95rem;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
}

.searchInput::placeholder {
    color: rgba(0, 0, 0, 0.842);
}



.searchButton {
    background: none;
    border: none;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}
