.butonYes {
    width: 200px;
    height: 50px;
    background-color: rgb(116, 175, 38);
    visibility: visible;
    display: inline-block;
}

.butonCancel {
    width: 200px;
    height: 50px;
    background-color: rgb(175, 38, 38);
}

.butonAcept {
    width: 200px;
    height: 50px;
    background-color: rgb(116, 175, 38);
    visibility: visible;
    display: inline-block;
}

.no-visibility>a {
    visibility: hidden;
}

