.title{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.text{
    margin: 5px;
    color: var(--dark-text);
}

.overview{
    outline: none;
    height: 150px;
}

.inputs{
    margin: 10px;
    width: 150px;
    border: solid 1px var(--border-color);
    background-color: var(--ligth-background-color);
    border-radius: 5px;
}

.description{
    height: 150px;
    background-color: white;
}

.warning {
    color:red;
    font-size: 0.8rem;
}