.title{
    color:var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.text{
    margin: 5px;
}

.btn{
    margin: 15px;
    height: 40px;
    width: 70px;
    font-size: 17px;
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--white-text);
}

.btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgb(57 57 57 / 50%);
}

.parr{
    color: var(--primary-color);
}

.inputs{
    margin: 10px;
    width: 170px;
    border-radius: 5px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: white;
}

.warning {
    color:red;
    font-size: 0.8rem;
}

.priceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankAcc{
    width: 130px;
    height: 40px;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    margin: 5px;
}

.bankAcc:hover{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 42px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.accountSelected{
    margin: 15px;
}

.capacityContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}