.prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.title {
    font-weight: 250;
    text-align: center;
    margin-right: 35rem;
    color: var(--dark-text);
}

.title span {
    font-weight: 500;
    color: var(--primary-color);
}

.containerhero {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 45rem;
}

.containerform {
    width: 25rem;
    height: max-content;
}

input {
    background-color: var(--ligth-background-color);
    margin-left: 5px;
    border: 0px;
    outline: none;
    width: 98%;
    color: var(--dark-text);
}

input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
    color: var(--dark-text);
}

.name_and_lastname {
    display: flex;
    justify-content: space-between;
    color: var(--dark-text);
}

.name_and_lastname input {
    width: 96%;
    color: var(--dark-text);
}

.container_input {
    border-bottom: solid 2px var(--primary-color);
    margin-bottom: 26px;
    color: var(--dark-text);
}

.container_input_name_last {
    width: 45%;
    border-bottom: solid 2px var(--primary-color);
    margin-top: 26px;
    margin-bottom: 26px;
}

.imagesetting {
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    border-radius: 50%;
}

.divprueba {
    width: max-content;
    height: auto;
}