.containerFilterMode {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    /* height: 16vh; */
    top: 32.5%;
    z-index: 1;
}

.container_btns_modality,
.container_btns_date,
.container_btns_Filter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_btns_clearFilter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modality,
.date,
.Filter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 15vw;
    /* height: 35%; */
    background-color: var(--primary-color);
    border-right: 2px solid var(--accent-color);
    z-index: 1;
    transition: .5s all ease;
}


.Filter {
    width: 10vw;
    border-radius: 10px 0 0 10px;
}

.title_filter{
    display: flex;
    margin-top: 7%;
    font-size: 160%;
    color: var(--white-text);
    font-weight: 400;
}


.clearFilter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 4vw;
    /* height: 35%; */
    background-color: var(--primary-color);
    border-radius: 0 10px 10px 0;
    z-index: 1;
    transition: .5s all ease;
}

.btnClearFilter {
    display: flex;
    justify-content: center;
    margin: 3%;
    height: 70%;
    width: 70%;
    font-size: 25px;
    border-radius: 10px;
    background: var(--accent-color);
    color: var(--white-text);
    border: none;
    align-items: center;
    gap: 5px;
    opacity: 0.6;
    cursor: pointer;
}


.btnClearFilter:hover {
    opacity: 1;
}

.btnFilter{
    display: flex;
    justify-content: center;
    margin: 3%;
    margin-left: 10%;
    height: 70%;
    width: 22%;
    font-size: 25px;
    border-radius: 10px;
    background: var(--accent-color);
    color: var(--white-text);
    border: none;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    opacity: 0.6;
}


.btn {
    display: flex;
    justify-content: center;
    margin: 3%;
    height: 70%;
    width: 40%;
    font-size: 18px;
    border-radius: 10px;
    background: var(--accent-color);
    color: var(--white-text);
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}


.noVisibility {
    width: 0vw;
    opacity: 0;
    transition: .5s all ease;
}